In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_iris, load_wine

In [6]:
df = pd.read_csv("../data/wine.csv")
df.head(5)

   Year   Price  WinterRain     AGST  HarvestRain  Age  FrancePop
0  1952  7.4950         600  17.1167          160   31  43183.569
1  1953  8.0393         690  16.7333           80   30  43495.030
2  1955  7.6858         502  17.1500          130   28  44217.857
3  1957  6.9845         420  16.1333          110   26  45152.252
4  1958  6.7772         582  16.4167          187   25  45653.805

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         25 non-null     int64
 1   Price        25 non-null     float64
 2   WinterRain   25 non-null     int64
 3   AGST         25 non-null     float64
 4   HarvestRain  25 non-null     int64
 5   Age          25 non-null     int64
 6   FrancePop    25 non-null     float64
dtypes: float64(3), int64(4)
memory usage: 1.5 KB

In [5]:
ts = pd.read_csv("../data/wine_test.csv")
ts

   Year   Price  WinterRain     AGST  HarvestRain  Age  FrancePop
0  1979  6.9541         717  16.1667          122    4  54835.832
1  1980  6.4979         578  16.0000           74    3  55110.236